<main class="main">
  <div class="content">
    <div class="container">
      <h1>{{ title }}</h1>

      <ng-container *ngIf="categories as cats; else loading">
        <div *ngFor="let category of cats" class="category-section">
          <h2>{{ category.header }}</h2>

          <div class="video-row-wrapper">
            <button
              class="scroll-button left"
              *ngIf="showLeftArrow"
              (click)="scrollLeft(videoRow)">
              <i class="bi bi-arrow-left-circle"></i>
            </button>

            <div class="video-row" #videoRow>
              <div class="video-card" *ngFor="let video of category.data">
                <img [src]="video.verticalPhotos?.[0]?.photoUrlBase" [alt]="video.title" />
                <p>{{ video.heading }}</p>
              </div>
            </div>

            <button
              class="scroll-button right"
              *ngIf="showRightArrow"
              (click)="scrollRight(videoRow)">
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </div>

        </div>
      </ng-container>

      <ng-template #loading>
        Loading videos...
      </ng-template>
    </div>
  </div>
</main>

<router-outlet />
